* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: geneva;
}

#container {
    background: linear-gradient(90deg,#2193b0,#6dd5ed);
    height: 100%;
    width: 100vw;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#container h1 {
    color: aliceblue;
    padding: 1rem 0;
}

#button-container {
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-board {
    padding: .5rem 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
    color: rgba(0,0,0,.8);
    font-weight: bold;
    margin-top: -1rem;
}

#new-board :hover {
    cursor: pointer;
    background-color: rgba(240,248,255,0.8);
}

#board {
    min-height: 600px;
    min-width: 600px;
    border: 3px solid rgba(0,0,0,.2);
    background-color: white;
    padding-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

